StreamingClient/Connected Services/FileService/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9007/Files?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9007/Files?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9007/Files?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileServiceInterface_getStream_InputMessage">
    <wsdl:part name="parameters" element="tns:getStream" />
  </wsdl:message>
  <wsdl:message name="FileServiceInterface_getStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStreamResponse" />
  </wsdl:message>
  <wsdl:message name="RequestFileMessage">
    <wsdl:part name="parameters" element="tns:RequestFileMessage" />
  </wsdl:message>
  <wsdl:message name="ResponseFileMessage">
    <wsdl:part name="parameters" element="tns:ResponseFileMessage" />
  </wsdl:message>
  <wsdl:message name="ResponseFileMessage_Headers">
    <wsdl:part name="name" element="tns:name" />
    <wsdl:part name="size" element="tns:size" />
  </wsdl:message>
  <wsdl:portType name="FileServiceInterface">
    <wsdl:operation name="getStream">
      <wsdl:input wsaw:Action="http://tempuri.org/FileServiceInterface/getStream" message="tns:FileServiceInterface_getStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FileServiceInterface/getStreamResponse" message="tns:FileServiceInterface_getStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMStream">
      <wsdl:input wsaw:Action="http://tempuri.org/FileServiceInterface/getMStream" name="RequestFileMessage" message="tns:RequestFileMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FileServiceInterface/getMStreamResponse" name="ResponseFileMessage" message="tns:ResponseFileMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_FileServiceInterface" type="tns:FileServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStream">
      <soap:operation soapAction="http://tempuri.org/FileServiceInterface/getStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMStream">
      <soap:operation soapAction="http://tempuri.org/FileServiceInterface/getMStream" style="document" />
      <wsdl:input name="RequestFileMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResponseFileMessage">
        <soap:header message="tns:ResponseFileMessage_Headers" part="name" use="literal" />
        <soap:header message="tns:ResponseFileMessage_Headers" part="size" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="BasicHttpBinding_FileServiceInterface" binding="tns:BasicHttpBinding_FileServiceInterface">
      <soap:address location="http://localhost:9007/Files/endpoint_Files" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>