WCF-Streams-Client/Connected Services/MainService/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9005/MainService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9005/MainService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MainServiceInterface_SyncFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncFunction" />
  </wsdl:message>
  <wsdl:message name="MainServiceInterface_SyncFunction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncFunctionResponse" />
  </wsdl:message>
  <wsdl:message name="MainServiceInterface_ASyncFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:ASyncFunction" />
  </wsdl:message>
  <wsdl:portType name="MainServiceInterface">
    <wsdl:operation name="SyncFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/MainServiceInterface/SyncFunction" message="tns:MainServiceInterface_SyncFunction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/MainServiceInterface/SyncFunctionResponse" message="tns:MainServiceInterface_SyncFunction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ASyncFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/MainServiceInterface/ASyncFunction" message="tns:MainServiceInterface_ASyncFunction_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_MainServiceInterface" type="tns:MainServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncFunction">
      <soap:operation soapAction="http://tempuri.org/MainServiceInterface/SyncFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASyncFunction">
      <soap:operation soapAction="http://tempuri.org/MainServiceInterface/ASyncFunction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_MainServiceInterface" binding="tns:BasicHttpBinding_MainServiceInterface">
      <soap:address location="http://localhost:9005/MainService/default_endpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>